# Bytecode & caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
venv/
ENV/
env/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local environment
.env

# Alembic (optional: if you don’t want migration history in Git)
alembic/versions/*.py
